{% extends 'base.html' %}
<style>
	.btn{
		background-color: #17a2b8;
      	color: #fff;
	}
</style>
{% block content %}
<div class="container" style="overflow: hidden;">
    <h2 class="text-center my-3">About E-Shop Admin</h2>
    <div class="row my-3">
			<div class="col-md-6">
				<h1>We Are Creative</h1>
				<p>Digital products, on the other hand, are something ecommerce businesses can sell online but they’re not an actual physical product that can be shipped to their customers. Oftentimes, once a digital product is purchased online a customer can download the digital files straight away with no need for the business to actually ship anything to the customer.Businesses can also provide digital or in-person services that their customers can purchase online. These services can include anything from design services or streaming services (both are digital services) to home improvement services or dog-walking services (which are in-person services). Any business that provides a service, rather than a physical or digital product, can be included in this category.</p>
				<a href="/" class="btn">Explore Now &#8594;</a>
			</div>
			<div class="col-md-6 pl-4">
				<div class="about-container">
					<img src="/static/img/about.jpg" height="500" width="640">
				</div>
			</div>
		</div>
</div>
{% endblock %}
